[Unit]
Description= final project http server 
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/sina/Desktop/Project_98101685/FaceRecognition/src/http_server.cpp
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
